@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    var listDataApp = angular.module("ListApp", []);
    listDataApp.controller("listCntrl", function ($scope) {
        $scope.listData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    });
</script>
<div class="jumbotron">
    <h1>Read from SharePoint</h1>
    <p class="lead">Reading form the SharePoint without installing an app in SharePoint catalogue.</p>
</div>

<div class="container" ng-app="ListApp">
    <div class="container" ng-controller="listCntrl">
        <div class="row">
            <div class="col-xs-2"><h4 class="h4">Title</h4></div>
            <div class="col-xs-2"><h4 class="h4">Content Type</h4></div>
            <div class="col-xs-2"><h4 class="h4">Created</h4></div>
            <div class="col-xs-2"><h4 class="h4">Created By</h4></div>
            <div class="col-xs-2"><h4 class="h4">Modified</h4></div>
            <div class="col-xs-2"><h4 class="h4">Modified By</h4></div>
        </div>
        <div class="row" ng-repeat="li in listData">
            <div class="col-xs-2">{{li.Title}}</div>
            <div class="col-xs-2">{{li.ContentType}}</div>
            <div class="col-xs-2">{{li.Created | date: 'dd/MM/yyyy h:mma'}}</div>
            <div class="col-xs-2">{{li.CreatedBy}}</div>
            <div class="col-xs-2">{{li.Modified | date: 'dd/MM/yyyy h:mma'}}</div>
            <div class="col-xs-2">{{li.ModifiedBy}}</div>
        </div>
    </div>
</div>
